.grid-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    // background-color: #2196F3;
    padding: 10px;
    grid-gap:10px;
  }
  .grid-container > button {
    // background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
//   .grid-container #outlined-basic{
//       grid-column: 1 / span 4;
//   }